.image-gallery {
    display: flex; /* Используем flexbox для расположения изображений */
    flex-wrap: wrap; /* Позволяет изображениям переноситься на новую строку */
    justify-content: center; /* Центрируем изображения */
    margin-top: 20px; /* Отступ сверху */
}

.image-item {
    flex: 0 0 calc(30% - 10px); /* Устанавливаем ширину для каждого элемента на 50% с отступами */
    margin: 5px; /* Отступы между изображениями */
    display: flex; /* Для центровки изображений */
    justify-content: center; /* Центрируем изображение внутри элемента */
}

.image-item img {
    width: 100%; /* Изображения занимают всю ширину родительского элемента */
    height: auto; /* Авто для сохранения пропорций */
    border-radius: 10px; /* Закругленные углы изображения */
    cursor: pointer; /* Указывает на кликабельность */
    transition: transform 0.3s; /* Плавный переход при наведении */
}

.image-gallery img:hover {
    transform: scale(1.05); /* Увеличение изображения при наведении */
}

.modal {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed; /* Фиксированное положение */
    z-index: 1000; /* Поверх остальных элементов */
    left: 0;
    top: 0;
    width: 100%; /* На всю ширину экрана */
    height: 100%; /* На всю высоту экрана */
    overflow: auto; /* Позволяет прокручивать, если нужно */
    background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный фон */
}

.modal-content {
    margin: auto; /* Центрируем изображение */
    display: block; /* Показываем изображение */
    max-width: 90%; /* Ограничиваем ширину изображения */
    max-height: 90%; /* Ограничиваем высоту изображения */
}

.close {
    position: absolute; /* Абсолютное положение */
    top: 20px; /* Отступ от верхнего края */
    right: 35px; /* Отступ от правого края */
    color: white; /* Цвет крестика */
    font-size: 40px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    transition: 0.3s; /* Плавный переход для эффекта наведения */
}

.close:hover,
.close:focus {
    color: #bbb; /* Цвет при наведении */
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer; /* Указывает на кликабельность */
}

.prev, .next {
    position: absolute; /* Абсолютное позиционирование */
    top: 50%; /* По центру по вертикали */
    color: white; /* Цвет стрелок */
    font-size: 40px; /* Размер стрелок */
    font-weight: bold; /* Жирный шрифт */
    cursor: pointer; /* Указывает на кликабельность */
    transition: 0.3s; /* Плавный переход для эффекта наведения */
    user-select: none; /* Убираем выделение текста */
}

.prev {
    left: 20px; /* Отступ слева */
}

.next {
    right: 20px; /* Отступ справа */
}

.prev:hover, .next:hover {
    color: #bbb; /* Цвет при наведении */
}


