.question {
    cursor: pointer; /* Изменяем курсор при наведении */
    border: 1px solid #ccc; /* Серый цвет рамки */
    padding: 15px; /* Увеличиваем отступ внутри рамки */
    border-radius: 8px; /* Добавляем закругленные углы */
    margin: 10px auto; /* Отступы между плашками */
    background-color: #f9f9f9; /* Цвет фона для вопросов */
    width: 80%; /* Ширина плашки в процентах от экрана */
    font-size: 20px; /* Увеличиваем размер шрифта для вопросов */
    transition: background-color 0.3s ease; /* Плавное изменение фона при наведении */
}

.question:hover {
    background-color: #f0f0f0; /* Изменение фона при наведении */
}

.answer {
    max-height: 0; /* Начальная высота */
    overflow: hidden; /* Скрываем содержимое */
    transition: max-height 0.7s ease, opacity 0.7s ease; /* Плавное изменение высоты и прозрачности */
    opacity: 0; /* Начальная прозрачность */
    padding: 0 15px; /* Отступы внутри ответа */
    color: #666; /* Серый цвет текста */
    font-style: italic; /* Наклонный текст */
    font-size: 17px; /* Уменьшаем размер шрифта для ответов */
    text-align: justify; /* Выравнивание текста по ширине */
}

.answer.visible {
    max-height: 500px; /* Максимальная высота (подберите под ваш контент) */
    opacity: 1; /* Показываем текст */
    padding: 15px; /* Увеличиваем отступы внутри ответа при появлении */
}

/* Стили для плюса */
.question-symbol {
    display: inline-block;
    transition: transform 0.7s ease; /* Плавный поворот */
    font-size: 35px; /* Размер плюса */
    margin-right: 11px; /* Отступ от текста */
    color: #333; /* Цвет плюса */
}

/* Класс для поворота плюса в крестик */
.question-symbol.rotate {
    transform: rotate(45deg); /* Поворот на 45 градусов */
}

/* Стили для мобильных устройств */
@media (max-width: 850px) {
    .question {
        width: 100%; /* Вопросы занимают всю ширину */
        margin-left: 0; /* Убираем отступ слева */
        margin-right: 0; /* Убираем отступ справа */
        font-size: 18px; /* Уменьшаем шрифт для мобильных */
        padding: 12px; /* Уменьшаем отступы для мобильных */
    }

    .answer {
        font-size: 16px; /* Уменьшаем шрифт ответа для мобильных */
        padding: 0 12px; /* Уменьшаем отступы для мобильных */
    }

    .answer.visible {
        padding: 12px; /* Уменьшаем отступы для мобильных */
    }

    .question-symbol {
        font-size: 24px; /* Уменьшаем размер плюса для мобильных */
    }
}