#hero {
    height: 100vh; /* Высота на весь экран */
    padding-top: 50px; /* Отступ сверху для меню */
    background-image: url('../images/lamp2.webp'); /* Путь к твоему фоновому изображению */
    background-size: cover; /* Покрывает весь экран */
    background-position: center; /* Центрирует изображение */
    background-repeat: no-repeat; /* Не повторяет изображение */
    color: black; /* Цвет текста */
    display: flex; /* Используем flexbox для центрирования содержимого */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    text-align: center; /* Центрируем текст */
    z-index: -1; /* Помещаем за меню */
}

.full-screen-image {
    width: 100vw; /* Ширина на весь экран */
    height: 100vh; /* Высота на весь экран */
    position: absolute; /* Позиционирование для фона */
    top: 0; /* Верхнее положение */
    left: 0; /* Левое положение */
    z-index: -1; /* Устанавливаем изображение на задний план */
}

.bg-image {
    position: absolute; /* Абсолютное позиционирование */
    top: 50%; /* Центруем по вертикали */
    left: 50%; /* Центруем по горизонтали */
    min-width: 100%; /* Минимальная ширина 100% */
    min-height: 100%; /* Минимальная высота 100% */
    width: auto; /* Автоматическая ширина */
    height: auto; /* Автоматическая высота */
    transform: translate(-50%, -50%); /* Центрируем изображение */
    z-index: -1; /* Устанавливаем изображение на задний план */
}

.hero-content {
    position: absolute; /* Позиционирование для точного размещения */
    top: 20%; /* Отступ сверху в процентах (выше на экране) */
    left: 5%; /* Отступ слева в процентах (влево на экране) */
    color: black; /* Цвет текста (можно изменить при необходимости) */
    text-align: left; /* Выравнивание текста влево */
     z-index: 3; /* Устанавливаем z-index для наложения поверх других элементов */
}

.hero-content p {
    font-size: 25px; /* Размер шрифта (можно увеличить или уменьшить) */
    margin: 5px 0; /* Отступы между параграфами */
}
.stylish-text {
    font-family: 'Montserrat', sans-serif; /* Или другой выбранный шрифт */
    font-size: 35px; /* Увеличьте размер шрифта по желанию */
    font-weight: bold; /* Делаем текст полужирным */
    color: #333; /* Укажите нужный цвет текста */
}

#hero p {
    font-weight: 600; /* Полужирный шрифт */
}


html, body {
    margin: 0; /* Убирает отступы */
    padding: 0; /* Убирает поля */
    height: 100%; /* Высота на весь экран */
}

.custom-button {
    display: inline-block; /* Отображаем как блок для кнопки */
    padding: 20px 70px; /* Отступы вокруг текста */
    background-color: black; /* Цвет фона - черный */
    color: white; /* Цвет текста - белый */
    text-decoration: none; /* Убираем подчеркивание */
    border: none; /* Убираем рамку */
    border-radius: 50px; /* Убираем закругленные углы для прямоугольной формы */
    transition: background-color 0.3s; /* Плавный переход для эффекта наведения */
    font-size: 29px; /* Размер шрифта для кнопки */
    cursor: pointer; /* Изменяем курсор при наведении */
    margin-top: 20px; /* Отступ сверху для кнопки */
    text-align: center; /* Центрируем текст */
}

.custom-button:hover {
    background-color: #444; /* Цвет при наведении (темно-серый) */
}

/* Если кнопка все еще ведет себя как ссылка, добавьте следующие стили */
.custom-button:visited {
    color: white; /* Цвет текста после посещения */
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
    .hero-content p {
        font-size: 18px; /* Уменьшаем размер текста */
    }

    .stylish-text {
        font-size: 24px; /* Уменьшаем размер стильного текста */
    }

    .custom-button {
        padding: 15px 40px; /* Уменьшаем отступы для кнопки */
        font-size: 20px; /* Уменьшаем размер шрифта для кнопки */
    }
    #hero {
        background-position: 33% center; /* Смещает изображение влево */
    }
}
